<div class="container">
    <div class="header"> {{translate('project_title')}} </div>
    <div class="content">
        <div class="project">
            <img
                src="../../../../assets/projects/project-1.png"
                alt=""
                class="left"
            />
            <div class="project-content">
                <div class="title"> {{translate('project_title1')}}</div>
                <div class="body">
                    {{translate('project_title_cut')}} <strong>{{translate('project_title_cut1')}}</strong>. {{translate('project_title_cut2')}}
                </div>
            </div>
        </div>
        <div class="project">
            <div class="project-content">
                <div class="title">Intranet</div>
                <div class="body">
                  {{translate('project_title2')}}
                    <strong>  {{translate('project_title3')}} </strong> {{translate('project_title4')}} 
                </div>
            </div>
            <img
                src="../../../../assets/projects/project-2.png"
                alt=""
                class="left"
            />
        </div>
        <div class="project">
            <img
                src="../../../../assets/projects/project-3.png"
                alt=""
                class="left"
            />
            <div class="project-content">
                <div class="title">{{translate('project_title5')}}</div>
                <div class="body">
                    {{translate('project_title6')}}
                    {{translate('project_title7')}} <strong>  {{translate('project_title8')}}</strong>
                    {{translate('project_title9')}}.
                </div>
            </div>
        </div>
    </div>
</div>
