<div class="container">
    <div class="header">
        <div class="header-content">
            <span class="title"> {{translate('maturity')}} </span>
            <span class="header-text"
                >{{translate('maturity_title')}}</span
            >
        </div>
        <button (click)="openDialog()" class="border-none">
            <span class="label-btn"> {{translate('do')}} test </span>
        </button>
    </div>
    <div class="container-img body-large">
        <img
            src="../../../../assets/maturity-level.svg"
            alt=""
            width="100%"
            class="body-large img-svg"
        />
    </div>
    <div class="body">
        <!-- 1 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-1.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition"> {{translate('maturity_title2')}} </span>
                <span class="description"
                    >  {{translate('maturity_title3')}} </span
                >
            </div>
        </div>
        <!-- 2 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-2.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition">{{translate('maturity_title4')}}</span>
                <span class="description"
                    >{{translate('maturity_title5')}}</span
                >
            </div>
        </div>
        <!-- 3 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-3.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition">{{translate('maturity_title6')}}</span>
                <span class="description"
                    >{{translate('maturity_title7')}}</span
                >
            </div>
        </div>
        <!-- 4 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-4.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition">{{translate('maturity_title8')}}</span>
                <span class="description"
                    >{{translate('maturity_title9')}}</span
                >
            </div>
        </div>
        <!-- 5 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-5.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition"> {{translate('maturity_title10')}} </span>
                <span class="description"
                    > {{translate('maturity_title11')}}</span
                >
            </div>
        </div>
        <!-- 6 -->
        <div class="item">
            <img
                src="../../../../assets/maturity/level-6.svg"
                alt=""
                class="icon"
            />
            <div class="body-text">
                <span class="definition">{{translate('maturity_title12')}}</span>
                <span class="description"> {{translate('maturity_title13')}} </span>
            </div>
        </div>
    </div>
</div>
