<div class="container">
    <div class="customers">
        <div class="title"> {{translate('curtomer_m')}} </div>
        <div class="logos">
            <img src="../../../../assets/customers/divisa.svg" alt="" />
            <img
                src="../../../../assets/customers/logo_GutierrezGroup.png"
                height="80px"
                style="filter: brightness(0) invert(1)"
                alt=""
            />
            <img
                src="../../../../assets/customers/firu.png"
                height="52px"
                style="filter: brightness(0) invert(1)"
                alt=""
            />
            <img
                src="../../../../assets/customers/Elixir.png"
                height="52px"
                style="filter: brightness(0) invert(1)"
                alt=""
            />
            <img
                src="../../../../assets/customers/factoring-divisa.png"
                height="56px"
                alt=""
            />
            <img
                src="../../../../assets/customers/iscteam-logo-final.png"
                height="56px"
                style="filter: brightness(0) invert(1)"
                alt=""
            />
        </div>
    </div>

</div>
