<div class="tdc">
    <div class="tdc-container">
        <div class="tdc-content shadow">
           {{ translate('tdc_title1') }}
        </div>
        <div class="container">
            <div class="content">
                <div class="title"><span>  {{ translate('tdc_title2') }} </span></div>
                <div class="body">
                    <span class="shadow-2">
                        {{ translate('tdc_title3') }} <br />{{ translate('tdc_title4') }}
                    </span>
                </div>
            </div>
            <div class="form-contact">
                <div class="group-input">
                    <label for="email"> {{ translate('email') }}</label>
                    <input
                        type="text"
                        id="email"
                        placeholder="{{translate('placeholder')}}"
                        autocomplete="off"
                    />
                </div>
                <div class="group-input">
                    <label for="business"> {{ translate('company') }}</label>
                    <input
                        type="text"
                        id="business"
                        placeholder="{{translate('placeholder')}}"
                    />
                </div>
                <div class="group-action">
                    <button class="border-none"><span class="btn-label"> {{translate('tdc_title5')}} </span></button>
                </div>
            </div>
        </div>
    </div>
</div>
