<div class="container">
    <div class="navigation">
        <div class="address">
            <img
                src="../../../../assets/icon-bi360.png"
                alt=""
                style="width: 134px; height: 80px"
            />
            <span>
                Complejo Ruta No Calle 67 #52-20. <br />
                Torre A - 2do piso <br />Medellín, Colombia
            </span>
        </div>
        <div class="refs">
            <span class="title"> {{ translate('footer_links') }} </span>
            <div class="links">
                <div class="links-section">
                    <a class="item-content" href="#uniques"> {{translate('footer_a1_links')}} </a>
                    <a class="item-content" href="#customers"> {{translate('customers')}} </a>
                    <a class="item-content" href="#comments">{{translate('footer_a2_links')}}</a>
                    <!-- <a class="item-content" href="#weare">Quiénes somos</a> -->
                </div>
                <div class="links-section">
                    <a class="item-content" href="#team"> {{translate('team')}} </a>
                    <a class="item-content" href="#projects"> {{translate('projects')}} </a>
                    <a class="item-content" href="#tdc"
                            >Tech Driven Company</a
                        >
                    <a class="item-content" href="#contact"> {{translate('contact')}} </a>
                    <!-- <a class="item-content" href="#maturity"
                        >Nivel de madurez</a
                    > -->
                </div>
            </div>
        </div>
        <div class="contact">
            <span class="title"> {{translate('contact')}} </span>
            <a href="tel:+573105234814" class="item-content"
                >(+57) 310 523 4814</a
            >
            <a href="mailto:avalderrama@bi360.com.co" class="item-content"
                >avalderrama@bi360.com.co</a
            >
        </div>
    </div>
    <hr class="w-100" />
    <div class="copyright">
        Copyright © 2023 BRIX Templates | All Rights Reserved | Terms and
        Conditions | Privacy Policy
    </div>
</div>
