<div class="container">
    <button mat-icon-button mat-dialog-close aria-label="Cerrar">
        <mat-icon>close</mat-icon>
    </button>
    <iframe
        src="https://api.leadconnectorhq.com/widget/booking/iXiaASfOGK4QVkukkxQH"
        style="
            width: 100%;
            border: none;
            overflow: scroll;
            min-height: 80vh;
            padding: 0px 10px 0px 10px;
            background-color: #fff;
        "
        scrolling="yes"
        id="iXiaASfOGK4QVkukkxQH_1693432158950"
    ></iframe
    ><br />
    <script
        src="https://link.msgsndr.com/js/form_embed.js"
        type="text/javascript"
    ></script>
</div>
