.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.w-100 {
    width: 100%;
}

.w-100-10 {
    width: calc(100% - 10px);
}

.content {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    min-height: 80vh;
}

h2 {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

select,
input {
    height: 50px;
    border-radius: 8px;
    background: transparent;
    padding: 0px 0px 0px 10px;
    border: 1px solid var(--foundation-cards-cards-100, #ad89dc);
    color: var(--neutral-colors-color-800, #adabc3);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.max-w-250px {
    max-width: 250px;
}

.action-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headers-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    span {
        flex: 1;
        text-align: center;
    }
}
