<div class="team">
    <div class="container">
        <div class="title"> {{translate('team_title1')}} </div>
        <div class="content">
            <p>
                {{translate('team_title2')}}
            </p>
            <p>
                {{translate('team_title3')}}
                <strong
                    >  {{translate('team_title4')}} </strong
                >
                {{translate('team_title5')}}
                <strong>   {{translate('team_title6')}} </strong>
                {{translate('team_title7')}}
            </p>
        </div>
    </div>
</div>
